<!DOCTYPE HTML>
<!--
	Originally Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Join Card Game</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>CardShare</strong> by Chase</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="join">Join Game</a>
						<a href="create">Create Game</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to CardShare</h1>
					</header>
                    <div class="flex ">

						<div>
							<span class="icon fa-clone"></span>
							<h3>Join Game</h3>
                            <p>
						    <a href="join" class="button">Join a game in progress</a>
                            </p>
						</div>

						<div>
							<span class="icon fa-asterisk"></span>
							<h3>Create Game</h3>
                            <p>
						    <a href="create" class="button">Start a new game</a>
                            </p>
						</div>

					</div>

					<footer>
                        <div><p>&nbsp;<br/>
                        &nbsp;</p></div>
					</footer>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
                <div class="copyright">
                    &copy; Chase Grund. Images: <a href="https://unsplash.com">Unsplash</a>.
                </div>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>